<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   
    <title>Рестораны</title>
</head>
<body>
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Рестораны</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a href="/">Вход</a></li>
                        <li><a href="/">Регистрация</a></li>
                        <li><a href="/">Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
