<% include ./partials/header %>

<h1>Вход</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Имя пользователя" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <input type="submit" value="Вход">
</form>

<% include ./partials/footer %>
