<h1>Sign UP!!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Имя пользователя">
    <input type="password" name="password" placeholder="Пароль">
    <button>Зарегистрироваться</button>
</form>