<% include ./partials/header %>

<h1>Регистрация нового пользователя</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Имя пользователя" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button>Регистрация</button>
</form>

<% include ./partials/footer %>