body {
    background: #000;
}

#landing-header {
    z-index: 1; /* We set the z-index to 1 so all of the elements inside the landing-header div will be in front of the background images */
    position: relative; /* The position is set to relative so we can use the z-index property; the default position value is static, which ignores z-index */
    text-align: center; /* We use text-align to center our text and button */
    padding-top: 40vh; /* We use padding-top to vertically center our div, since it's contents take up quite a bit of space we use 40vh (view height) instead of 50, this way the content looks more visually centered */
}

#landing-header h1 {
    color: #fff;
}

/* The following will fix the ul to the window, positioning it in the top left corner and filling the entire screen by setting width and height to 100%; we set the z-index to 0 to keep the background images behind the rest of the page's content; list-style is set to none in order to hide the bullet points from the list's default styling; margin and padding are removed entirely */
.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Now we style all of the list items. Notice the animation property at the bottom of this rule, this is how we add an animation to an element; in this case we have an animation named imageAnimation that lasts for 50s (seconds), keeps linear timing (the whole animation runs at the same speed), and loops an infinite number of times */
.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover; /* allows the images to take the entire space of the page */
    background-position: 50% 50%; /* center the images on the page */
    background-repeat: no-repeat; /* images are not repeating vertically or horizontally */
    opacity: 0; /* images start faded out */
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

/* Each list item needs a background-image and the last four need an animation-delay (this way they all fire off one after the other in ten second intervals): */

.slideshow li:nth-child(1) { 
    background-image: url(../images/img1.jpg) 
}
.slideshow li:nth-child(2) { 
    background-image: url(../images/img2.jpg);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(../images/img3.jpg);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(../images/img4.jpg);
    animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(../images/img5.jpg);
    animation-delay: 40s; 
}

/* Now we can create the keyframes for the animation */
/* If we have 5 background images visible for 5 seconds each, then the time it takes to fade the image in and keep it visible is 10 seconds with a 5 second crossfade/fadeout into the next image; The entire animation cycle for all 5 images takes 50 seconds total */
/* 100% divided by 5 is 20% so each image's fadein and visibility should last 20% of the cycle; half of 20% is 10%, that is why our fade in is from 0% to 10%, then we keep it visible until 20% is reached and begin the fadeout from 20% to 30%, the 5 second fadeout overlaps the next image's 5 second fadein, which is what creates the crossfade effect */

@keyframes imageAnimation { /* The animation will be named imageAnimation, which matches with the value from our animation property in the .slideshow (unordered list) rule */
    0% { /* From 0% to 10% (the beginning of our animation) the list item begins changing it's opacity from 0 to 1 (invisible to visible) */
      opacity: 0; 
      animation-timing-function: ease-in; /* the animation-timing-function is set to ease-in at 0% and ease-out and 10%, this makes for a more smooth fade-in) */
    }
    10% { /* The list item's opacity then stays at 1 until it reaches 20% at which point it fades back out, reaching 0 at 30% and staying at 0 for the remainder of the animation */
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}

/* Lastly, we need to add animation support for older browsers; we've already added the modernizr CDN to our landing page's head element, now we just need the following rule in our landing.css: */
.no-cssanimations .slideshow li {
	opacity: 1;
}



/* more info:
https://github.com/nax3t/background-slider
https://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068 */