.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#restname {
    font-weight: 700;
    color: rgb(77, 76, 76);
}

#avprice {
    color: rgb(63, 143, 218);
}