<% include ../partials/header %>

<div class="container">
    <header class='jumbotron'>
        <div class="container">
            <h1>Приветствуем на сайте с лучшими ресторанами!</h1>
            <p>Узнай о лучших ресторанах или поделись своими открытиями</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/restaurants/new">Добавить новый ресторан</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap">
        <% restaurants.forEach(function(restaurant){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= restaurant.image %>">
                    <div class="caption">
                        <h4><%= restaurant.name %></h4>
                    </div>
                    <p>
                        <a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary">Подробнее</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<div><a href="/">На главную страницу</a></div>

<div class="container">
<% include ../partials/footer %>